*{
    padding: 0;
    margin: 0;
}


.menu{

background-color :yellow;
width: 1200px;
height: 80px;
display : inline-block;




.caselogo{
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    width: 55px;
    height: 66px;
    background-color : red;
    position: absolute;
    /* case carré du logo de la barre menu.*/
}


.casemenu {
    background-color: white;
    height: 50px;
    width: 150px;
    display: inline-block;
    text-align: center;
    color: black;
	margin-left: 40px;
}

.blockmenu{
margin-left: 100px;
display: inline-block;
height: 50px;
width: 850px;
    background-color: red;
}

<img src="img/logo60x60.PNG" width="60" heigth="60" title="logo">
                                                                background-image:url("img/logo60x60.PNG");
