.menu {

    background-color: white;
    width: 1200px;
    height: 80px;
    position: fixed;
    z-index: 100;
    display: inline-block;
    border-bottom: solid;
    border-width: 1px;
    border-color: black;
    box-sizing: content-box;
}



.caselogo{
    margin-left: 10px;
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color : white;
    text-align: center;

    position: relative;
    /* case carré du logo de la barre menu.*/
}

.imagelogo{
    background-repeat : no-repeat;
    display: inline-block;
    height :70px;
    width :70px;
    background-image:url(../img/logojoli85.png);


}

.blockmenu{
    margin-left: 100px;
    display: inline-block;
    height: 80px;
    width: 645px;
    background-color : white;
    position: absolute;

}

.casemenu {
    background-color: white;
    height: 50px;
    width: 150px;
    display: inline-block;
    text-align: center;
	font-family: 'Work Sans', sans-serif;

    color:#EEA200;
    margin-left: 60px;
    margin-top: 23px;

}

.blockrecherche{
    width: 210px;
    height:80px;
    background-color: white;
    margin-left: 765px;
    display: inline-block;
    position: absolute;

}


.blockpanier{
    width: 100px;
    height:80px;
    background-color: black;
    margin-left: 1000px;
    display: inline-block;
    position: absolute;
    font-size: 100%;
    font-family: "PT Sans", sans-serif;
    color: #31353d;
}




.link-1 {
  transition: 0.4s ease;
  background: #ffffff;
  color: #EEA200;
  font-size: 20px;
  text-decoration: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 33px 0;
  margin: 0 20px;
}


.link-1:hover {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 6px 0;
}





nav {
  margin-top: 60px;
  padding: 24px;
  text-align: center;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.simpleCart_shelfItem a{
    text-decoration: none;
    color: black;
}




