

.block_menu{
    background-color: white;
    width: 1200px;
    height: 85px;
    margin-top: 0px;
    display: inline-block;
}
.block_articles{
    width: 1200px;
    height: 1100px;
    margin-top: 20px;
    background-color: red;
}

#dynamic{
    background-color: white;
    width:1200px;
    height: 1100px;
}
object{ /*la taille de l'html qui va être intégrer dans boutique.html via ajax*/
    width: 1200px;
    height: 1100px;
    background-color: white; /*si le fond n'est pas blanc lors du chargement de la page externe la couleur va brièvement apparaitre*/
}
