
#block_articles{
    width:  1200px;
    background-color: red;
    height: 1100px;
    margin-top: 90px;
    display: inline-block;

}

.block_container{
    background-color: green;
    width: 1200px;
    height: 90px;
    margin-top: 80px;
    display: inline-block;
}
.menu_article{
    width: 1200px;
    height: 1100px;
    margin-top: 20px;
    background-color: red;
}

#dynamic{
    background-color: #00acee;
    width:1200px;
    height: 1100px;
}
object{ /*la taille de l'html qui va être intégrer dans boutique.html via ajax*/
    width: 1200px;
    height: 1100px;
    background-color: purple;
}
