
.article_preview{
    background-color: white;
    display: inline-block;
    margin-top: 0px;
    width: 1200px;
    height: 800px;
}

.article_photo{
    background-color: black;
    margin-top: 50px;
    margin-left: 75px;
    width: 500px;
    height: 500px;
    display: inline-block;

}

.suggestion{
    position: absolute;
    background-color: white;
    width: 500px;
    height: 155px;
    margin-left: 75px;
    margin-top: 10px;
    border-top: 2px solid black;
    font-family: 'Rubik', sans-serif;
}
.suggestion h3{
    text-align: center;
}
.suggestion p{
    text-align: center;
}
.suggestion a{
    text-decoration: none;
    color: black;
}

.article_desc{
    background-color: white;
    margin-top: 50px;
    margin-left: 55px;
    height: 360px;
    width: 500px;
    display: inline-block;
    position: absolute;
    font-family: 'Rubik', sans-serif;
    border-left: black;
    border-left: solid;
}

.article_titre{
    background-color: white;
    margin-top: 10px;
    margin-left: 50px;
    width: 400px;
    height: 100px;
}

.article_titre h2{
    text-align: center;
}

.article_titre h3{
    text-align: center;
    color: #EEA200;
}

.article_titre p{
    text-align: center;
    color: rgba(64, 59, 64, 0.64);
    font-size: smaller;
}

.article_custom{
    background-color: white;
    margin-top: 20px;
    margin-left: 50px;
    width: 400px;
    height: 150px;
    display: inline-block;

}
.taille{
    background-color: white;
    margin-top: 20px;
    width: 175px;
    height: 100px;
    display: inline-block;
}

.qte{
    background-color: white;
    margin-top: 20px;
    margin-left: 35px;
    width: 180px;
    height: 100px;
    display: inline-block;
}

.article_ajout{
    background-color: white;
    margin-top: 10px;
    margin-left: 50px;
    width: 400px;
    height: 60px;
}

.ajout{
    display: block;
    width: 400px;
    height: 60px;
    line-height: 60px;
    background: #EEA200;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    box-sizing: content-box;
}
.ajout:hover{
    background: #eebb4d;
}

.signup{
    background-color: white;
    width: 500px;
    height: 300px;
    display: inline-block;
    margin-top: 410px;
    margin-left: 55px;
    position: absolute;
    border-left: black;
    border-left: solid;
}

.btn {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 13px;
    white-space: nowrap;
    font-weight: 400;
    line-height: 1;
    margin: 0px;
    padding: 1.25em 9.88em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.btn:hover, .btn:focus {
    color: #EEA200;
    outline: 0;
}


.fifth {
    border-color: #EEA200;
    border-radius: 0;
    color: #EEA200;
    position: relative;
    overflow: hidden;
    z-index: 0;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
}
.fifth:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #EEA200;
    z-index: -2;
    -webkit-transition: width 150ms ease-in-out;
    transition: width 150ms ease-in-out;
}
.fifth:hover {
    color: #fff;
}
.fifth:hover:after {
    width: 110%;
}

